{{define "content"}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="/">ホーム</a></li>
        <li class="breadcrumb-item"><a href="/category/{{.memo.Category.ID}}">{{.memo.Category.Name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{.title}}</li>
    </ol>
</nav>

<h1 class="my-4">{{.title}}</h1>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{.memo.Attention}}%;" aria-valuenow="{{.memo.Attention}}"
        aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="box" id="box" style="padding:10px;"></div>

<div class="btn-group d-flex" role="group" aria-label="group">
    <a href="/detail/{{.memo.ID}}/form" class="btn btn-primary w-100" role="button">編集</a>
</div>


<script>
    const detail = '{{.memo.Detail}}';
    window.onload = function () {
        document.getElementById('box').innerHTML = marked(detail);
    }
</script>
{{end}}